body {
  width: 100%;
  margin: 0;
  background-color: #000;
}

header {
  background-color: #000;
  color: #fff;
  width: 100%;
  position: relative;
  margin: 0;
}

.cabecalho {
  font-size: 35px;
  text-align: center;
}

figure.logo img {
  width: 90px;
  display: block;
  margin: 0 auto;
}
/* meio*/

#busca {
  margin-top: 50px;
  margin-bottom: 90px;
}

.info {
  text-align: center;
  font-size: 18px;
  color: #fff;
  padding: 10px;
}

#input {
  margin: 5px;
  padding: 10px;
  width: 50%;
}

#submit {
  margin: 5px;
  padding: 5px;
  width: 30%;
}
/* Resposta*/

#contents{
  color:#fff;
}

/* rodapé */
.rodape {
  text-align: center;
  font-size: 18px;
  color: #fff;
}
img#facebook {
  width: 40px;
  margin: 0 auto;
  display: inline-block;
}

img#linkedin {
  width: 40px;
  margin: 0 auto;
  display: inline-block;
}
